body {
    font-family: sans-serif;
    font-size: 12pt;
    padding: none;
    margin: none;
}
nav {
    margin: 0 auto;
    border-bottom: 1px solid blue;
}
nav ul {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
}
nav li {
    list-style: none;
    display: inline;
    padding: 10px;
}
nav img {
    height: 90%;
    border: 2px solid blue;
}
nav li:first-child a {
    border: none;
    background-color: white;
    padding: none;
    margin: none
}
nav li a {
    color: blue;
    text-decoration: none;
    border: blue 1px solid;
    padding: 40px 25px;
    background-color: rgb(237, 246, 248);
}
main {
    width: 60%;
    margin: 0 auto;
}
main p {
    width: 90%;
    margin: 0 auto;
    font-size: 16pt;
}