body {
    font-family: sans-serif;
    font-size: 12pt;
    padding: none;
    margin: none;
}
nav {
    margin: 0 auto;
}
nav ul {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-auto-flow: column;
    border-bottom: 3px solid blue;
    padding: 30px 0;
}
nav li {
    list-style: none;
    display: block;
    padding: 10px;
    margin: 10px;
}
nav img {
    border: 1px solid blue;
}
nav li:last-child a {
    color: blue;
    text-decoration: none;
    border: blue 1px solid;
    padding: 40px 25px;
    background-color: rgb(237, 246, 248);
}
nav li:first-child a {
    border: none;
    background-color: none;
    padding: none;
    margin: none
}
main {
    width: 60%;
    margin: 0 auto;
}
main p {
    width: 90%;
    margin: 0 auto;
    font-size: 16pt;
}
@media screen and (max-width:600px) {
    nav ul {
        grid-auto-flow: row;
    }
    main {
        width: 100%;
    }
}
    